@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --br: 8px;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P", system-ui;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  border: 10px solid white;
  border-radius: var(--br);
  padding: 5em;
  height: 100vh;
}

h1 {
  font-size: 2em;
  margin: 0 0 1em;
  text-align: center;
}

.flex {
  display: flex;
  gap: 1em;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

.game {
  align-items: center;
  border: 5px solid white;
  border-radius: var(--br);
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  height: 250px;

  @media screen and (max-width: 992px) {
    flex: auto;
  }
}
